.header-image{
    width: 100%;
    height: 350px;
    position: relative;
    background-size: cover;
    background-position: center;

    &__text{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        @include translate(0, -50%);
        color: #FFF;
        text-transform: uppercase;
        font-size: 38px;
        z-index: 300;
        letter-spacing: .05em;
    }
}



.video-galerie{
    position: fixed;
    background: #000;
    z-index: 100;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;

    iframe{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.strate{
    .is-video{
        position: relative;
        cursor: pointer;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(#000, .2);
        }

        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%, -50%);
            width: 70px;
            height: 70px;
            background-image: url('../icons/play.svg');
            background-repeat: no-repeat;
            border: 1px solid rgba(#FFF, .5);
            border-radius: 50%;
            background-size: 20px;
            background-position: 25px 24px;
        }
    }

    &.strate-image-big{
        @include clearfix;

        .image{
            width: 60%;
            float: left;

            img{
                width: 100%;
            }
        }

        .bloc-text{
            position: relative;
            z-index: 300;
            float: left;
            background: #FFF;
            width: 20%;
            padding: 30px;
            font-size: 1.8vw;
            line-height: 1.1;
            font-family: 'butler_stencillight';

            &:after{
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            .inner-text{
                position: absolute;
                left: 30px;
                bottom: 30px;
                right: 30px;
            }
        }
    }

    &.strate-full-screen{
        position: relative;
        .image-full{
            width: 100%;
            height: 90vh;
            background-size: cover;
            background-position: center;
        }

        .image{
            width: 30%;
            position: absolute;
            bottom: 0;
            margin-bottom: -15%;
            left: 50%;
            img{
                width: 100%;
            }
        }
    }

    &.strate-two-image{
        z-index: 30;
        position: relative;
        .image-1{
            width: 30%;
            margin-left: 10%;
            img{
                width: 100%;
            }
        }
        .image-2{
            width: 20%;
            margin-left: 30%;
            margin-top: -120px;
            position: absolute;

            img{
                width: 100%;
            }
        }

        &.right{
            .image-1{
                margin-left: 50%;
            }
            .image-2{
                margin-left: 40%;
            }
        }
    }
}

.page-template-galerie, .page-template-audio{
    .logo{
        display: none;
    }
}
