.header{
    position: absolute;
    z-index: 400;
    width: 100%;

    .logo{
        position: absolute;
        left: 50%;
        top: 30px;
        font-size: 30px;
        color: #FFF;
        text-transform: uppercase;
        @include translate(-50%, 0);
        letter-spacing: .1em;
        @include transition(.4s);

        &.hidde{
            @include translate(-50%, -30px);
            opacity: 0;
        }
    }
    .social{
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 300;
        @include transition(.4s);

        li{
            display: inline-block;
            fill: #FFF;
            margin: 0 6px;
            svg{
                width: 17px;
                height: 14px;
                fill: #FFF;
            }
        }

        &.hidde{
            @include translate(0, -30px);
            opacity: 0;
        }
    }

    .menu{
        position: absolute;
        left: 30px;
        top: 30px;
        padding-left: 35px;
        position: relative;
        font-family: 'futura-pt';
        font-size: 17px;

        &:before{
            content: '';
            width: 30px;
            height: 30px;
            background: url('../icons/menu.svg');
            position: absolute;
            left: 0;
            top: -4px;
            background-size: cover;
        }

        &:hover, &:focus{
            color: #FFF;
        }
    }
}

.container-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 305;
    @include transition(.4s);


    &.hidde{
        height: 0%;
        overflow: hidden;
        transition-delay: .3s;

        .menu{
            opacity: 0;
            transition-delay: 0s;
        }
    }

    &:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(#000, .7);
    }

    .menu{
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
        width: 80%;
        z-index: 3;
        text-align: center;
        opacity: 1;
        @include transition(.3s);
        transition-delay: .4s;

        li{
            margin: 10px 0;
            a{
                font-size: 30px;
                letter-spacing: .05em;
                color: #FFF;
                text-transform: uppercase;
            }
        }
    }
}

$grey: rgba(#FFF, .7);
$blue: rgba(#FFF, .3);

.container-loader{
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 90000;



    @mixin loaderDivMixin {
    	border-radius: 50%;
    	padding: 8px;
    	border: 1px solid transparent;
    	animation: rotate linear 3.5s infinite;
    }

    .loader {
    	position: relative;
    	width: 150px;
    	height: 150px;
    	display: block;
    	overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -75px;
        margin-top: -75px;

    	div {
    		height: 100%;
    	}
    }


    /*loader 2  */
    .loader2, .loader2 div {
    	@include loaderDivMixin;
    	border-top-color: $blue;
    	border-left-color: $grey;
    	border-right-color: $grey;
    }




    .loader, .loader * {
    	will-change: transform;
    }
}

.container-loader{
    background: #000;
    position: fixed;
    height: 100vh;
    z-index: 600;
    width: 100%;

    img{
        width: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
    }
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
        border-top-color: $grey;
    }
    50% {
        transform: rotate(180deg);
        border-top-color: $blue;
    }
    100% {
        transform: rotate(360deg);
        border-top-color: $grey;
    }
}
