.image-intro{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../images/background-home.jpg');
    background-size: cover;
    overflow: hidden;

    &.is-play{
        video{
            opacity: 1;
        }
    }

    video{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .4;
        @include transition(.4s);
        @include scale(1.1);
    }

}


.close-popin{
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 300;
    color: #FFF;
    font-family: 'futura-pt';
    font-size: 15px;
    padding-left: 25px;
    display: none;
    cursor: pointer;

    &:before{
        content: '';
        width: 20px;
        height: 20px;
        background: url('../icons/cross.svg');
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.actu-star, .link-video{
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #FFF;
    font-family: 'futura-pt';
    font-size: 12px;

    a{
        font-weight: 600;
    }
}

.link-video{
    left: 50%;
    @include translate(-50%, 0);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    @include transition(.8s);
    cursor: pointer;

    .info-button{
        position: absolute;
        top: -15px;
        text-align: center;
        font-size: 10px;
        width: 120px;
        left: 50%;
        @include translate(-50%, 0);
    }

    &.is-open{
        opacity: 0;
        @include translate(-50%, 30px);
    }

    .container-svg{
        @include rotate(-90deg);
    }
    .circle-1, .circle-2{
        width: 30px;
        height: 30px;
        fill: transparent;
    }
    .circle-2{
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
        @include transition(2s);
    }

    &.is-click{
        .circle-2{
            stroke-dashoffset: 0;
        }
    }


    &:before{
        content: '';
        width: 20px;
        height: 20px;
        background: url('../icons/play.svg');
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -1px;
        margin-top: 0px;
        @include translate(-50%, -50%);
        z-index: 30;
    }
}


.container-points{
    position: absolute;
    top: 120px;
    height: calc(100% - 240px);
    z-index: 300;
    width: 70%;
    left: 15%;

    .list-point{
        width: 100%;
        height: 100%;
        position: absolute;
        .point{
            position: absolute;
            left: 30%;
            min-width: 170px;
            top: 20%;

            @include translate3d(0, 0, 1px);



            &:hover, &:focus{
                color: #FFF;
                cursor: move;
            }

            &.is-hover{
                filter: blur(.5rem);
                -webkit-filter: blur(.5rem);
                -moz-filter: blur(.5rem);
                -o-filter: blur(.5rem);
                @include transition(.6s);
            }


            &__button{
                width: 30px;
                height: 30px;
                background: #FFF;
                border-radius: 50%;
                position: relative;
                float: left;
                .icon{
                    font-size: 35px;
                    margin-top: -14px;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, 0);

                    color: #000;
                    position: absolute;

                }
            }

            &__content{
                float: left;
                margin-left: 10px;

                .title{
                    font-family: 'futura-pt';
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 12px;
                    cursor: pointer;
                }
                .date{
                    font-family: 'futura-pt';
                    font-size: 10px;
                    font-weight: 300;
                    opacity: .7;
                }
            }

            &:nth-child(1){
                left: 0%;
                top: 30%;
            }
            &:nth-child(2){
                left: 20%;
                top: 55%;
            }
            &:nth-child(3){
                left: 60%;
                top: 74%;
            }
            &:nth-child(4){
                left: 60%;
                top: 34%;
            }
            &:nth-child(5){
                left: 90%;
                top: 41%;
            }
            &:nth-child(6){
                left: 0%;
                top: 81%;
            }
            &:nth-child(7){
                left: 80%;
                top: 11%;
            }
        }
    }
}
